.h1{

color: black; 
font-size: 100px;

}

.form{

width: 400px;
margin: 0 auto;
 
 padding: 30px;
 
}
.box{

width: 350px; 
height: 450px;
border: 5px solid black ;
border: style 50px;;
border-radius: 30px; 
border-bottom-color:black;
border-left-color:yellow ;
border-right-color:yellow;
border-top-color: black;
font-size:large;
border-spacing: 10px;
background: #f5f5f5;
font-style: italic;
align-items: center;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
padding: 10px;

}
.background{

background-color:grey;
backface-visibility: inherit;
background-image: none;


}


